<div id='micropost-div' class="container-fluid p-0">
  <div class="row">
    <div id="side" class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 class="text-center mb-5">教えてスクラムマスター!!</h1>
      <% micropost.each do |mp| %>
        <div class='micropost mb-3'>
          <div class="border">
            <p class="Username m-0"><%= mp.username %></p>
            <a href='/microposts/<%=mp.id%>' class="micropost-a"><%= mp.content %></a>
          </div>
          <p class="sendTime text-right"><%= mp.created_at%></p>
        </div>
      <% end %>
    </div>
    <div id="side" class="col-md-3">
      <%= image_tag "footer.png",id: "footer-img" %>
    </div>
  </div>
</div>

<footer>
  <div id='micropost-form'>
    <%= form_with model: micropost_new, local: true do |form| %>
      <%= form.text_field :content %>
      <%= form.hidden_field :username, :value => @username %>
      <%= form.submit '投稿', class:"btn btn-outline-info", role:"button" %>
    <% end %>
  </div>
</footer>