<div class="micropost-div">
  <h1 class="text-center mb-5">教えてスクラムマスター!!</h1>
  <% micropost.each do |mp| %>
    <div class='micropost mb-3'>
      <div class="border">
        <p class="Username m-0"><%= mp.username %></p>
        <a href='/microposts/<%=mp.id%>' class="micropost-a"><%= mp.content %></a>
      </div>
      <p class="sendTime text-right"><%= mp.created_at%></p>
    </div>
  <% end %>
</div>

<footer>
  <div id='micropost-form'>
    <%= form_with model: micropost_new, local: true do |form| %>
      <%= form.text_field :content %>
      <%= form.hidden_field :username, :value => @username %>
      <%= form.submit '投稿', class:"btn btn-outline-info", role:"button" %>
    <% end %>
  </div>
</footer>