<header>
  <a href="/" class="m-0"><%= image_tag "header.png", id: "header-img" %></a>
  <div id="header-right" class="text-right">
    <a class="header-itmes" href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Japanese.pdf" target="_blank">スクラムガイド</a>
    <%= link_to 'よくある質問','/q_and_a',target: "_blank", class: "header-itmes"%>
    <% if user_signed_in? %>
      <%= link_to 'チャット', microposts_path, class:"header-itmes", target:"_blank"%>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header-itmes" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class:"header-itmes"%>
    <% end %>
  </div>
</header>