<div id="micropost-div" class="container-fluid p-0">
    <div class="row">
        <div id="side" class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="border">
            <p class="Username m-0"><%= @micropost.username %></p>
            <%= @micropost.content %>
          </div>
          <% if @micropost.username == current_user.username %><br>
            <%= link_to '投稿を編集する', edit_micropost_path(@micropost.id), class:"btn btn-outline-info", role:"button" %>
            <%= link_to '投稿を削除する', micropost_path(@micropost.id), class:"btn btn-outline-info", role:"button", method: :delete %>
          <% end %>
        </div>
        <div id="side" class="col-md-3">
            <%= image_tag "footer.png",id: "footer-img" %>
        </div>
    </div>
</div>
