<div>
  <p><%= @memo.username %></p>
  <%= flash[:notice] %>
  <%= @memo.content %>
</div>
<% if @memo.username == current_user.username %><br>
  <%= link_to '投稿を編集する', edit_memo_path(@memo.id), class:"btn btn-outline-info", role:"button" %>
  <%= link_to '投稿を削除する', memo_path(@memo.id), class:"btn btn-outline-info", role:"button", method: :delete %>
<% end %>
<%= link_to '戻る', memo_path, class:"btn btn-outline-info", role:"button" %>
