<!DOCTYPE html>
<html>
    <head>
        <title>Sukuramukun</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <!-- ここから追加 -->
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      <!-- ここまで追加 -->
        <header>
            <a href="/" class="m-0"><%= image_tag "header.png", id: "header-img" %></a>
            <div id="header-right" class="text-right">
                <a class="header-itmes" href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Japanese.pdf" target="_blank">ScrumGuide</a>
                <%= link_to 'Q&A','/q_and_a',target: "_blank", class: "header-itmes"%>
                <% if user_signed_in? %>
                    <%= link_to 'Chat', microposts_path, class:"header-itmes", target:"_blank"%>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"header-itmes" %>
                <% else %>
                    <%= link_to 'Login', new_user_session_path, class:"header-itmes"%>
                <% end %>
            </div>
        </header>
        <%= yield %>
    </body>
</html>

<script>

    window.onload = function () {
        this.msg_changer();
    }

    function msg_changer() {
        var now = new Date();
        var hour = now.getHours();

        if(hour >= 5 && hour <= 8){
            // var msg_content = document.getElementById("msg");
            // msg_content.innerHTML = '5-8';
        }
        else if(hour >= 9 && hour <= 11){
            var msg_content = document.getElementById("msg");
            // msg_content.innerHTML = '9-11';
            document.getElementById("msg-txt").classList.value = "haraheri-msg";
        }
        else if(hour >= 12 && hour <= 13){
            // var msg_content = document.getElementById("msg");
            document.getElementById("msg-txt").classList.value = "hello-msg";
        }
        else if(hour >= 14 && hour <= 17){
            // var msg_content = document.getElementById("msg");
            // msg_content.innerHTML = '14-17';
            document.getElementById("msg-txt").classList.value = "daijoubu-msg";
        }
        else if(hour >= 18 && hour <= 23){
            // var msg_content = document.getElementById("msg");
            // msg_content.innerHTML = '18-23';
            document.getElementById("msg-txt").classList.value = "hello-msg";
        }
    }

</script>
