<!DOCTYPE html>
<html>
  <head>
    <title>Sukuramukun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>スクラムくん〜さよなら人類、ようこそ機械〜</p>
      <a href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Japanese.pdf">Wikipedia</a>
      <%= link_to 'STOP WATCH','/watch' %> 
    </header>

    <%= yield %>
  </body>
</html>
