<!DOCTYPE html>
<html>
    <head>
        <title>Sukuramukun</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <!-- ここから追加 -->
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      <!-- ここまで追加 -->     
        <header>
            <a href="/" class="m-0"><%= image_tag "header.png", id: "header-img" %></a>
            <div id="header-right" class="text-right">
                <a id="scrumguide" href="https://www.scrumguides.org/docs/scrumguide/v2017/2017-Scrum-Guide-Japanese.pdf">ScrumGuide</a>
                <%= link_to 'Timer','/watch' ,id: "stopwatch"%>
                <%= link_to 'Q&A','/q_and_a' ,id: "qa-link"%>
                <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete ,id:"out-link" %>
                    <%= link_to 'Chat', microposts_path %>
                <% else %>
                    <%= link_to 'Login', new_user_session_path ,id:"in-link"%>
                    <%= link_to 'Sign up', new_user_registration_path ,id:"up-link"%>
                <% end %>
            </div>
        </header>
        <div id="msg">
        </div>
        <%= yield %>
    </body>
</html>
