<!DOCTYPE html>
<html>
  <head>
    <title>Sukuramukun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="top">
      <%= image_tag "logo.png",class: "logo-img" %><br>
      <a class="btn btn-outline-light w-25" id="ste-button" href="/#sukuram_master" role="button">スクラムマスターとは？</a>
      <a class="btn btn-outline-light w-25" id="ste-button" href="/home" role="button">スプリントの開始</a>
    </div>
  
  <div class="sample"　align="center">
    <div class="item"><%= image_tag "memo_icon.png",class: "icon-img" %>
    <p class="icon-title">パーキングロット / メモ</p>
    <p class="icon-ditail">
    　スプリント中に気づいたこと感じたことを書いておける機能です。あなたがプランニングや振り返りなどでこうしたいという考え、ふと思ったアイデアを残すことでイベントの時間を有効に使うことができます。</p>
    </div>
    <div class="item"><%= image_tag "haaku_icon.png",class: "icon-img" %>
    <p class="icon-title">スプリントの把握</p>
    <p class="icon-ditail">
    　スプリントの流れを視覚的に理解できる機能です。あなたのチームのスプリントが現在何周目であるのかを把握でき、各イベントを行う際にはタイムボックスを意識できるようにタイマーを使って時間の管理ができます。
    </p>
    </div>
    <div class="item"><%= image_tag "chat_icon.png",class: "icon-img" %>
    <p class="icon-title">チャット</p>
    <p class="icon-ditail">
    　他のチームのスクラムマスターやTA、教員たちと相談や情報共有する機能です。あなたが日頃のスクラムマスターの仕事でわからないことや困っていることを共有することでスクラムマスターへの理解を深めることができます。
    </p>
    </div>
  </div>

    <div id="sukuram_master">
      <h1>スクラムマスターとは？</h1>
      <p><p class="sukuram-item">1. メンバーが成果を上げるために支援や奉仕するサーバントリーダー</p>
      <p class="sukuram-example">具体例：メンバーの状況によってはCircleCIやテストコードを書く</p>
      </p>
      <p>
      <p class="sukuram-item">2. 外部からの妨害を排除してチーム守る</p>
      <p class="sukuram-example">具体例：外部の人がイベント中に部屋に入ってくる時は手土産を持ってくるように張り紙をしておく</p>
      </p>
      <p>
      <p class="sukuram-item">3. スクラムチームの内外を教育・コーチ・支援・推進する</p>
      <p class="sukuram-example">具体例1：スプリントは定期的なリズムが重要であるとメンバー指導する</p>
      <p class="sukuram-example">具体例2：振り返りのやり方がわからない時に具体的な例を出す</p>
      <p class="sukuram-example">具体例3：わかりやすいプロダクトバックログの書き方を指導する</p>
      </p>
      <p>
      <p class="sukuram-item">4. POや開発チームが自らの責務に集中できるようにそれ以外のことを行う</p>
      <p class="sukuram-example">具体例：各イベントでの時間管理</p>
      </p>
      <p>
      <p class="sukuram-item">5. POと開発チームの両輪がうまく回るようにする</p>
      <p class="sukuram-example">具体例1：POと開発チームの会話を促す</p>
      <p class="sukuram-example">具体例2：POと開発チームの生産性が高くなるように変化を促す</p>
      </p>
    </div>
  </body>
</html>